In [14]:
import tushare as ts
import pandas as pd
from pyecharts import options as opts
from pyecharts.charts import Kline

In [5]:
#招商银行[600036]
data=ts.get_hist_data("600036")

#data.head()

data = data.iloc[::-1]
data

In [15]:
pro = ts.pro_api()

ts.set_token('2920f7b55c4643296d1df103097a0d41cc2aa0eaef176f5e526ce799')

In [44]:

#取000001的前复权行情
df = ts.pro_bar(ts_code='000001.SZ', adj='qfq', start_date='20000101', end_date='20220401')

In [38]:
#df = pro.trade_cal(exchange='', start_date='20180901', end_date='20181001', fields='exchange,cal_date,is_open,pretrade_date', is_open='0')

In [45]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20220401,15.3700,15.7900,15.2000,15.7500,15.3800,0.37,2.4057,1484878.74,2.319617e+06
1,000001.SZ,20220331,15.0999,15.5699,15.0599,15.3799,15.2099,0.17,1.1177,1163746.74,1.789210e+06
2,000001.SZ,20220330,14.8599,15.2699,14.7599,15.2099,14.6799,0.53,3.6104,1236791.55,1.859617e+06
3,000001.SZ,20220329,14.8799,14.9499,14.5999,14.6799,14.8499,-0.17,-1.1448,615643.15,9.091696e+05
4,000001.SZ,20220328,14.7999,15.0499,14.6299,14.8499,14.9799,-0.13,-0.8678,727136.99,1.078327e+06
...,...,...,...,...,...,...,...,...,...,...,...
4995,000001.SZ,20001226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45157.27,6.502365e+04
4996,000001.SZ,20001225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47117.62,6.794765e+04
4997,000001.SZ,20001222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58951.95,8.640549e+04
4998,000001.SZ,20001221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28314.56,4.206382e+04
4999,000001.SZ,20001220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30879.00,4.589251e+04

In [35]:
#hist_data = ts.get_hist_data('000001.SZ', '20000402', '20220402', 'D', 3, 0.001)
#hist_data

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2